@import '../../../styles/variables.scss';

.footer {
	flex: 0 0 auto;
	background-color: $footerColor;
	.footer-text {
		margin: 0 auto;
		padding: 1.7rem 0;
		max-width: 1280px;
		text-align: right;
		line-height: 1.71;
		color: $footerTextColor;
	}
}
