$workspaceColor: #f2f3f7;
$white: #ffffff;
$coursDescriptionColor: #525462;
$courseDateColor: #b9bdce;
$dark-sky-blue: #30b6dd;
$dark-sky-blue-hover: #26a7ce;
$sick-green: #9bc837;
$sick-green-hover: #92bd36;
$white: #ffffff;
$white-hover: #eeeeee;
$borderInputColor: #d9dbe3;
$gray: #868996;
$colorCourses: #2c2f3c;
$headerBackColor:#414452;
$softBlue: #577ce6;
$footerColor: #414452;
$footerTextColor: #c0c3ce;
$paleGray: #f2f3f7;
$loginShadow:  #12152314;
$red: #ff4e33;
$required: #6c7283;
$cancelColor: #5b616f;
$cancelBgColor: #d9dbe3;
$gray-date-icon: #a8a9b4;
$scrollbar-thumb: #686e7c;

$sourseSansPro:'Source Sans Pro', sans-serif;
